/*index blocking*/

body {
	margin-right: 5%;
	margin-left: 5%;
}

#header {
	display: flex;
	height: 15%;
	width: 100%;
	padding-top: 2%;
	padding-bottom: 5%;
	padding-left: 4%;
	padding-right: 2%;
}

#nameicon {
	left: 5%;
	height: 100%;
	width: 25%;
}

#emptyblock {
	width: 23%;
}

#mollyicon {
	height: 85px;
}

#navbar {
	display: flex;
	width: 45%;
	height: 100%;
	right: 0;
	justify-content: center;
}

#workbtn, #aboutbtn, #resumebtn {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin-right: 75px;
	margin-left: 75px;
	margin-top: 10px;
}

#workbtn a, #aboutbtn a, #resumebtn a {
	text-decoration: none;
	color: black;
}

#workbtn:hover a, #aboutbtn:hover a, #resumebtn:hover a {
	color: #e29589;
	cursor: pointer;
}

#highlightbutton {
	color: #e29589;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin-right: 75px;
	margin-left: 75px;
	margin-top: 10px;
}

#projects, #internships {
	width: 100%;
	height: auto;
}

#internships {
	padding-top: 10%;
}

.gridcontainer {
	margin-right: 5%;
	margin-left: 5%;
	height: auto;
}

.longgrid {
margin: auto;
position: relative;
}

.halfgridcontainer {
	display: flex;
	margin: auto;
}

.halfgrid {
	width: 50%;
	position: relative;

}

#gif {
	width: 33%;
	margin: auto;
}

#chimescreen, #hustlescreen, #snickerdoodle, #websitegif, #botwgrid, #k812grid {
	width: 100%;
	object-fit: contain;
}

#websitegif {
	padding-top: 5%;
}

.titlecontainer {
	display:flex;
}

/*overlay formatting*/
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: white;
	display: flex;
}

.overlaylink {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;	
}

.longgrid:hover .overlay {
	opacity: .9;
}

.halfgrid:hover .overlay {
	opacity: .9;
}


/*fonts*/
.title {
	font-family: 'Lato', sans-serif;
	margin: auto;
	letter-spacing: .5em;
	font-size: 1.5em;
	font-weight: 300;
	padding-bottom: 5%;
}

.overlaytext {
	text-align: center;
	margin: auto;
	justify-content: center;
	font-family: 'Mukta Vaani', sans-serif;

}

.overlaytexttitle {
	width: 100%;
	font-weight: 600;
	font-size: 2em;
	letter-spacing: .2em;
}

.overlaytextdescription {
	width: 100%;
	font-weight: 300;
	letter-spacing: .2em;
}


